.nav-links{
    flex:1;
    display: inline-block;
    
}
.nav-links ul li{
    list-style:none ;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(7, 7, 7);
    font-style:inherit;
    font-weight: 750;
    text-decoration:none;
    font-size: 13px;
   
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height:2px ;
    background-color: rgb(246, 238, 238);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}  
 
.aaa a{
    color:blue;
    display: block;
    margin: auto;
}
a:link, a:visited 
{
    background-color: #c1be31;
    color: white;
    font-size: 150%;
    padding: 25px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.rrrr ul li 
    {
        list-style:none ;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
.rrrr a
    {
        background-color: #57c476;
        color: rgb(5, 0, 0);
        font-size: 300%;
        padding: 35px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
                      
    } 
.tt a
{
    background-color: #81a58c;
    color: rgb(5, 0, 0);
    font-size: 100%;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
}
    .main 
    {
        display: center; 
    }    
    .signup a
    {
        background-color: #ffffff;
        color: rgb(5, 0, 0);
        font-size: 100%;
        padding: auto;
        text-align: center;
        text-decoration: none;
        display: block;
    } 
    .login a
    {
        background-color: #f0ecec;
        color: rgb(5, 0, 0);
        font-size: 100%;
        padding: auto;
        text-align: center;
        text-decoration: none;
        display: block;
    }                         

body 
{
    background:rgb(255, 255, 255);
}
.button 
{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button0 {
            background-color: white; 
            color: black; 
            border: 2px solid #dc130f;
         }
.button0:hover {
                background-color: #dc130f;
                color: white;
                }
.button1 {
            background-color: white; 
            color: black; 
            border: 2px solid #4CAF50;
         }
.button1:hover {
                background-color: #4CAF50;
                color: white;
               }
.button2 {
            background-color: white; 
            color: black; 
            border: 2px solid #008CBA;
         }
         
.button2:hover {
                background-color: #008CBA;
                color: white;
               }
.button3 {
            background-color: white; 
            color: black; 
            border: 2px solid #5700ba;
         }
.button3:hover {
                background-color: #5700ba;
                color: white;
               }
.button4 {
            background-color: white; 
            color: black; 
            border: 2px solid #ba0044;
         }
.button4:hover {
                 background-color: #ba0044;
                color: white;
               }
.button5 {
            background-color: white; 
            color: black; 
            border: 2px solid #ba8800;
         }
.button5:hover {
                background-color: #ba8800;
                color: white;
               }
.button6 {
            background-color: white; 
            color: black; 
            border: 2px solid #82ba00;
         }
.button6:hover {
                background-color: #82ba00;
                color: white;
               }
.button7 {
            background-color: white; 
            color: black; 
            border: 2px solid #00aeba;
        }
.button7:hover {
                background-color: #00aeba;
                color: white;
               }
.button8 {
            background-color: white; 
            color: black; 
            border: 2px solid #ba2500;
         }
.button8:hover {
                background-color: #546a4b;
                color: white;
                }
.button9 {
            background-color: white; 
            color: black; 
            border: 2px solid #546a4b;
         }
.button9:hover {
                background-color: #6f8a64;
                color: white;
               }
.button10 {
            background-color: white; 
            color: black; 
            border: 2px solid #ba00a1;
          }
.button10:hover {
                 background-color: #ba00a1;
                 color: white;
                }
.button11 {
            background-color: white; 
            color: black; 
            border: 2px solid #3700ba;
          }
.button11:hover {
                 background-color: #3700ba;
                 color: white;
                }
               
                .main{
                    width: 350px;
                    height: 500px;
                    background: red;
                    overflow: hidden;
                    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
                    border-radius: 10px;
                    box-shadow: 5px 20px 50px #000;
                }
                #chk{
                    display: none;
                }
                .signup{
                    position: relative;
                    width:100%;
                    height: 100%;
                }
                label{
                    color: rgb(108, 56, 199);
                    font-size: 2.3em;
                    justify-content: center;
                    display: flex;
                    margin: 60px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: .5s ease-in-out;
                }
                input{
                    width: 60%;
                    height: 20px;
                    background: #e0dede;
                    justify-content: center;
                    display: flex;
                    margin: 20px auto;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
                
                .login{
                    height: 460px;
                    background: #eee;
                    border-radius: 60% / 10%;
                    transform: translateY(-180px);
                    transition: .8s ease-in-out;
                }
                .login label{
                    color: #573b8a;
                    transform: scale(.6);
                }
                
                #chk:checked ~ .login{
                    transform: translateY(-500px);
                }
                #chk:checked ~ .login label{
                    transform: scale(1);	
                }
                #chk:checked ~ .signup label{
                    transform: scale(.6);
                }
                
